@import '~/assets/styles/bootstrap-social.css';
@import url('//fonts.googleapis.com/css?family=Montserrat:300,400');
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
@import '@fortawesome/fontawesome-svg-core/styles.css';
html {
    font-family: 'Montserrat';
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    background-color: #d6dce8;
    font-family: 'Montserrat';
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.button--green {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3b8070;
    color: #fff !important;
    background-color: #3b8070;
    text-decoration: none;
    padding: 10px 30px;
}

.button--green:hover {
    background-color: #3b8070;
    cursor: pointer;
}

.button--grey {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #35495e;
    color: #35495e;
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 15px;
}

.button--grey:hover {
    color: #fff;
    background-color: #35495e;
}

.cb-field:not(.cb-checkbox) {
    @extend .form-group;
    input {
        @extend .form-control;
    }
}

.cb-field.cb-checkbox {
    @extend .form-check;
    input {
        @extend .form-check-input;
    }
}

.cb-submit {
    button {
        @extend .btn;
        @extend .button--grey;
        margin: 0 auto;
    }
    @extend .mt-3;
    display: flex;
}
